#include "setup.h"

#include <ctl3d.h>
#include <dlgs.h>

#include "cversion.h"
#include <maxnames.h>
#include <mversion.h>
#include <common.ver>

IDC_CLEAN RCDATA BEGIN
#include "clean.rc"
END

CTL3D_3DCHECK BITMAP "3dcheck.bmp"
SPLASH_BITMAP BITMAP PRELOAD qmax.bmp

Icon	ICON		PRELOAD setup.ico
IDC_SETUP	ICON	PRELOAD setup.ico


SPLASHDLGBOX DIALOG PRELOAD 20, 20, 240, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE
FONT 8, "Helv"
BEGIN
	CTEXT			"", -1, 0, 0, 220, 110
END


WELCOMEDLGBOX DIALOG PRELOAD 75, 55, 205, 117
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Welcome"
FONT 8, "Helv"
BEGIN
	DEFPUSHBUTTON	"&Continue", IDC_CONTINUE, 25, 97, 45, 14
	PUSHBUTTON		"E&xit", IDC_EXIT, 80, 97, 45, 14
	PUSHBUTTON		"&Help", IDC_HELP, 135, 97, 45, 14
	ICON			IDC_SETUP, IDC_SETUP, 12, 14, 18, 20
	LTEXT			MAX8PRODUCT, -1, 42, 12, 150, 10, SS_NOPREFIX
	LTEXT			"Copyright \251 1995-97 Qualitas Inc.", -1, 42, 22, 155, 10, SS_NOPREFIX

	LTEXT			"Welcome to " MAX8PRODUCT "  - the Intelligent Memory Manager for Windows 95, Windows 3.1x and DOS."
				-1, 10, 45, 180, 20
	LTEXT			"Setup will copy program files to your hard disk and set up Qualitas MAX for Windows.",
				-1, 10, 65, 180, 20
END


REGISTERDLGBOX DIALOG PRELOAD 76, 56, 205, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Registration"
FONT 8, "Helv"
BEGIN
	LTEXT			"The information you enter will be used to identify your copy of Qualitas MAX.", 
					-1, 36, 6, 156, 32, SS_NOPREFIX
	RTEXT			"Name:", -1, 5, 36, 50, 8
	EDITTEXT		IDC_NAME, 60, 34, 130, 12, ES_AUTOHSCROLL
	RTEXT			"Company:", -1, 5, 56, 50, 8
	EDITTEXT		IDC_COMPANY, 60, 54, 130, 12, ES_AUTOHSCROLL
	RTEXT			"Serial number:", -1, 5, 76, 50, 8
	EDITTEXT		IDC_SERIAL,60,74,80,13,ES_AUTOHSCROLL

	ICON			IDC_SETUP, IDC_SETUP, 10, 8, 18, 20
	DEFPUSHBUTTON	"&Continue", IDC_CONTINUE, 25, 100, 45, 14
	PUSHBUTTON		"E&xit", IDC_EXIT, 80, 100, 45, 14
	PUSHBUTTON		"&Help", IDC_HELP, 135, 100, 45, 14
END


CONFIRMDLGBOX DIALOG PRELOAD 76, 56, 205, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Registration"
FONT 8, "Helv"
BEGIN
	ICON			IDC_SETUP, IDC_SETUP, 10, 8, 18, 20
	LTEXT			"Please verify that the information that you entered is correct. To correct any item, select Change to return to the previous screen. Once your information is correct, press Continue.",
					  -1, 36, 8, 156, 40
	RTEXT			"Name:", -1, 10, 54, 55, 10
	LTEXT			"",100,70,54,120,12,SS_NOPREFIX | NOT WS_GROUP
	RTEXT			"Company:", -1, 10, 66, 55, 10
	LTEXT			"",101,70,66,120,12,SS_NOPREFIX | NOT WS_GROUP
	RTEXT			"Serial number:", -1, 10, 78, 55, 10
	LTEXT			"",102,70,78,120,12,SS_NOPREFIX | NOT WS_GROUP
	DEFPUSHBUTTON	"&Continue",IDC_CONTINUE,25,100,45,14
	PUSHBUTTON		"C&hange",IDC_BACK, 80,100,45,14
	PUSHBUTTON		"E&xit", IDC_EXIT, 135, 100, 45, 14
END


PREBRANDEDDLGBOX DIALOG PRELOAD 76, 56, 200, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Registration"
FONT 8, "Helv"
BEGIN
	LTEXT			"This copy of Qualitas MAX is registered to:",
					  -1, 36, 8, 156, 10
	RTEXT			"Name:", -1, 10, 24, 55, 10
	LTEXT			"",100,70,24,120,12,SS_NOPREFIX | NOT WS_GROUP
	RTEXT			"Company:", -1, 10, 36, 55, 10
	LTEXT			"",101,70,36,120,12,SS_NOPREFIX | NOT WS_GROUP
	RTEXT			"Serial number:", -1, 10, 48, 55, 10
	LTEXT			"",102,70,48,120,12,SS_NOPREFIX | NOT WS_GROUP
	DEFPUSHBUTTON	"&OK",IDC_CONTINUE,77,70,45,14
	ICON			IDC_SETUP, IDC_SETUP, 10, 8, 18, 20
END


PREREGISTEREDDLGBOX DIALOG PRELOAD 76, 56, 205, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Registration"
FONT 8, "Helv"
BEGIN
	ICON			IDC_SETUP, IDC_SETUP, 10, 8, 18, 20
	LTEXT			"This copy of Qualitas MAX 8 is registered to:",
					  -1, 36, 8, 156, 40
	RTEXT			"Name:", -1, 10, 54, 55, 10
	LTEXT			"",100,70,54,160,12,SS_NOPREFIX | NOT WS_GROUP
	RTEXT			"Company:", -1, 10, 66, 55, 10
	LTEXT			"",101,70,66,160,12,SS_NOPREFIX | NOT WS_GROUP
	RTEXT			"Serial number:", -1, 10, 78, 55, 10
	LTEXT			"",102,70,78,160,12,SS_NOPREFIX | NOT WS_GROUP
	DEFPUSHBUTTON	"&Continue",IDC_CONTINUE,45,100,45,14
	PUSHBUTTON		"E&xit", IDC_EXIT, 115, 100, 45, 14
END


MULTIDLGBOX DIALOG PRELOAD 76, 56, 200, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "MultiConfig"
FONT 8, "Helv"
BEGIN
	LTEXT			"Select the MultiConfig section where you wish to install Qualitas MAX.", 
					  -1, 40, 6, 148, 24, SS_NOPREFIX
	COMBOBOX		IDC_MULTI, 8, 34, 182, 50, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

	ICON			IDC_SETUP, IDC_SETUP, 12, 6, 18, 20
	DEFPUSHBUTTON	"&Continue", IDC_CONTINUE, 8, 60, 40, 14
	PUSHBUTTON		"&Back", IDC_BACK, 56, 60, 40, 14
	PUSHBUTTON		"E&xit", IDC_EXIT, 104, 60, 40, 14
	PUSHBUTTON		"&Help", IDC_HELP, 152, 60, 40, 14
END


DIRECTORYDLGBOX DIALOG PRELOAD 49, 38, 254, 190
STYLE DS_MODALFRAME | WS_POPUP | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU
CAPTION "Files and Locations"
FONT 8, "Helv"
BEGIN
	GROUPBOX		"&Install to:",2,7,6,238,28
	EDITTEXT		IDC_PATH, 14, 17, 222, 12, ES_UPPERCASE | ES_AUTOHSCROLL | 
					  ES_OEMCONVERT
	LTEXT			"", 666, 14, 19, 222, 10
	GROUPBOX		"Qualitas MAX files",1,7,63,239,60,WS_GROUP
	CTEXT			"Select or clear an option to install by clicking a checkbox.",
					  668,7,45,239,17
	CONTROL 		"&Program Files",IDC_PROGRAMS,"Button",BS_AUTOCHECKBOX | WS_GROUP | 
					  WS_TABSTOP,20,77,104,10
	CONTROL 		"&On-line Help",IDC_ONLINEHELP,"Button",BS_AUTOCHECKBOX | 
					  WS_TABSTOP,20,92,104,10
	CONTROL 		"&DOS HELP Reader",IDC_DOSREADER,"Button",BS_AUTOCHECKBOX | 
					  WS_TABSTOP,20,107,104,10
	LTEXT			"Installation Drive:",3,10,134,59,8
	LTEXT			"Space Required:",4,10,144,57,8
	LTEXT			"Space Available:",5,10,154,57,8
	RTEXT			"",IDC_IDISK,70,134,44,8
	RTEXT			"",IDC_DISKNEEDED,70,144,44,8
	RTEXT			"",IDC_DISKFREE,70,154,44,8

	DEFPUSHBUTTON	"&Continue",IDC_CONTINUE,16,172,45,14
	PUSHBUTTON		"&Back",IDC_BACK,75,172,45,14
	PUSHBUTTON		"E&xit",IDC_EXIT,134,172,45,14
	PUSHBUTTON		"&Help",IDC_HELP,189,172,45,14
END


EXTRACTDLGBOX DIALOG PRELOAD 49, 38, 220, 50
STYLE DS_MODALFRAME | WS_POPUP | WS_CLIPSIBLINGS | WS_CAPTION
CAPTION "Extracting files"
FONT 8, "Helv"
BEGIN
	CTEXT			"Copying ...", 668, 10, 10, 200, 8
	EDITTEXT		IDC_METER, 10, 26, 200, 14, ES_READONLY
END


CONFIGUREDLGBOX DIALOG PRELOAD 0, 0, 240, 160
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Configure MAX"
FONT 8, "Helv"
BEGIN
	DEFPUSHBUTTON	"&Continue",IDC_CONTINUE,30,140,45,14
	PUSHBUTTON		"E&xit",IDC_EXIT,97,140,45,14
	PUSHBUTTON		"&Help",IDC_HELP,164,140,45,14

	GROUPBOX		"Windows Options",-1,7,7,227,43
	CONTROL 		"Enable &Go Ahead",IDC_GOAHEAD,"Button",BS_AUTOCHECKBOX | 
					WS_TABSTOP,20,17,87,16
	CONTROL 		"Enable MAXme&ter",IDC_MAXMETER,"Button",BS_AUTOCHECKBOX | 
					WS_TABSTOP,20,32,85,15
	GROUPBOX		"MAX profile options",-1,7,57,227,43
	CONTROL 		"Use &MDA (B000h - B800h)",IDC_MDA,"Button",BS_AUTOCHECKBOX | 
					  WS_TABSTOP,20,70,180,11
	CONTROL 		"Enable EM&S",IDC_EMS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			20,83,180,11
	CONTROL 		"Run &Qualitas Memory Tester on bootup",IDC_QMT,"Button",BS_AUTOCHECKBOX | 
					  WS_TABSTOP,20,115,180,11
END


FILESDLGBOX DIALOG PRELOAD 74, 32, 222, 158
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "File Modifications"
FONT 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON	"&Continue",IDC_CONTINUE,25,138,45,14,WS_GROUP
	PUSHBUTTON		"E&xit",IDC_EXIT,88,138,45,14
	PUSHBUTTON		"&Help",IDC_HELP,151,138,45,14
	LTEXT			"Setup needs to make changes to the files listed below. Click on the file to view changes.",
					  -1,8,7,190,20,SS_NOPREFIX
	GROUPBOX		"&View Changes",-1,8,28,202,58
	LISTBOX 		IDC_FILESLB, 12, 39, 193, 43, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
	GROUPBOX		"",-1,8,88,202,39,WS_GROUP
	CONTROL 		"Let &Setup make changes", IDC_UPDATEFILES, "Button",
					  BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,16,97,155,12
	CONTROL 		"Save changes as .&ADD in MAX directory",IDC_NEWFILES,"Button",
					  BS_AUTORADIOBUTTON | WS_TABSTOP,16,110,155,12
END


SHOWDLGBOX DIALOG PRELOAD 0, 0, 240, 160
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Files"
FONT 8, "Helv"
BEGIN
	DEFPUSHBUTTON	"&OK",IDOK,90,140,50,14
	EDITTEXT		IDC_DIF_FILE,5,5,230,128, ES_READONLY | ES_MULTILINE |
			  WS_HSCROLL | WS_VSCROLL
END


ASKQUITDLGBOX DIALOG PRELOAD 88, 68, 200, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_VISIBLE
CAPTION "Exit Setup"
FONT 8, "Helv"
BEGIN
	DEFPUSHBUTTON	"&Continue Setup", IDC_CONTINUE, 30, 46, 60, 14
	PUSHBUTTON		"E&xit", IDC_EXIT, 110, 46, 60, 14
	LTEXT			"You have chosen to exit Setup before completion. You can rerun Setup at any time to complete the installation.",
					  -1, 40, 8, 150, 32, SS_NOPREFIX
	ICON			IDC_SETUP, IDC_SETUP, 14, 8, 18, 20
END


EXITSUCCESSDLGBOX DIALOG PRELOAD 76, 56, 200, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_VISIBLE
CAPTION "Setup Completed"
FONT 8, "Helv"
BEGIN
	DEFPUSHBUTTON	"&Maximize", IDC_CONTINUE, 25, 72, 45, 14
	PUSHBUTTON		"E&xit", IDC_EXIT, 80, 72, 45, 14
	PUSHBUTTON		"&Help", IDC_HELP, 135, 72, 45, 14
	LTEXT	"You have successfully installed Qualitas MAX. For optimal performance, you should remove any disk in A: and run Maximize now. If you choose not to run Maximize, you must reboot for MAX to take effect. Would you like to run Maximize now?",
					  201, 40, 13, 150, 55
	ICON			IDC_SETUP, IDC_SETUP, 10, 8, 18, 20
END


EXITREBOOTDLGBOX DIALOG PRELOAD 76, 56, 200, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_VISIBLE
CAPTION "Setup Completed"
FONT 8, "Helv"
BEGIN
	DEFPUSHBUTTON	"&Reboot", IDC_CONTINUE, 25, 62, 45, 14
	PUSHBUTTON		"E&xit", IDC_EXIT, 80, 62, 45, 14
	PUSHBUTTON		"&Help", IDC_HELP, 135, 62, 45, 14
	LTEXT			"You have successfully installed Qualitas MAX. You need to remove any disk in A:, reboot for MAX to take effect, and then restart Windows and run MAXIMIZE. Would you like to Reboot now?",
					  201, 40, 13, 150, 45
	ICON			IDC_SETUP, IDC_SETUP, 10, 8, 18, 20
END

EXITRESTARTDLGBOX DIALOG PRELOAD 76, 56, 200, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_VISIBLE
CAPTION "Setup Completed"
FONT 8, "Helv"
BEGIN
	DEFPUSHBUTTON	"&Restart Windows", IDC_CONTINUE, 20, 62, 65, 14
	PUSHBUTTON		"E&xit", IDC_EXIT, 90, 62, 45, 14
	PUSHBUTTON		"&Help", IDC_HELP, 145, 62, 45, 14
	LTEXT			"Setup needs to restart Windows to copy some files that Windows has locked.",
					  201, 40, 13, 150, 45
	ICON			IDC_SETUP, IDC_SETUP, 10, 8, 18, 20
END


EXITNEWDLGBOX DIALOG PRELOAD 76, 56, 200, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Setup Completed"
FONT 8, "Helv"
BEGIN
	DEFPUSHBUTTON	"E&xit", IDC_EXIT, 75, 62, 50, 14
	LTEXT			"You have copied the Qualitas MAX files but the program is not active. You must rename and copy the *.ADD files to the appropriate locations and reboot to activate Qualitas MAX.", 
					  201, 40, 10, 150, 45
	ICON			IDC_SETUP, IDC_SETUP, 10, 8, 18, 20
END


EXITPARTIALDLGBOX DIALOG PRELOAD 76, 56, 160, 50
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Setup Completed"
FONT 8, "Helv"
BEGIN
	DEFPUSHBUTTON	"E&xit", IDC_EXIT, 75, 32, 50, 14
	LTEXT			"Setup is complete.", 
					  201, 40, 10, 110, 10
	ICON			IDC_SETUP, IDC_SETUP, 10, 8, 18, 20
END


EXITFAILUREDLGBOX DIALOG PRELOAD 75, 55, 200, 96
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Setup Error"
FONT 8, "Helv"
BEGIN
	DEFPUSHBUTTON	"&OK", IDC_CONTINUE, 78, 76, 45, 14
	LTEXT			"Qualitas MAX Setup was unable to install one or more files or unable to modify a system file.", 
					  -1, 18, 39, 176, 25, SS_NOPREFIX
	LTEXT			"Qualitas MAX Setup Failed!", -1, 56, 16, 106, 13, SS_NOPREFIX
	ICON			IDC_SETUP, IDC_SETUP, 14, 10, 18, 20
END

SOURCEDLGBOX DIALOG PRELOAD 49, 38, 200, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU
CAPTION "Source Directory"
FONT 8, "Helv"
BEGIN
	DEFPUSHBUTTON	"&Continue",IDC_CONTINUE,15,50,50,14
	PUSHBUTTON		"E&xit",IDC_EXIT,75,50,50,14
	PUSHBUTTON		"&Help",IDC_HELP,135,50,50,14
	LTEXT			"", IDC_TEXT, 8, 8, 184, 20, SS_NOPREFIX
	EDITTEXT		IDC_PATH, 8, 30, 184, 12, ES_UPPERCASE | ES_AUTOHSCROLL | 
					  ES_OEMCONVERT
END

REFSRCDLGBOX DIALOG PRELOAD DISCARDABLE  49, 38, 201, 76
STYLE DS_MODALFRAME | WS_POPUP | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU
CAPTION "Insert Reference Disk"
FONT 8, "Helv"
BEGIN
	DEFPUSHBUTTON	"&Continue",IDC_CONTINUE,15,55,50,14
	PUSHBUTTON		"E&xit",IDC_EXIT,75,55,50,14
	PUSHBUTTON		"&Help",IDC_HELP,135,55,50,14
	LTEXT			"", IDC_TEXT,8,4,184,26,SS_NOPREFIX
	EDITTEXT		IDC_PATH,8,36,184,12,ES_UPPERCASE | ES_AUTOHSCROLL | 
					ES_OEMCONVERT
END

UPDATEDLGBOX DIALOG PRELOAD 49, 38, 200, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU
CAPTION "Update"
FONT 8, "Helv"
BEGIN
	LTEXT			"This product is an upgrade to previous versions of Qualitas Memory Management products. Please enter the directory of your previous installation of Qualitas MAX, 386MAX or BlueMAX.", 100, 40, 8, 150, 50, SS_NOPREFIX
	EDITTEXT		IDC_PATH, 8, 60, 184, 12, ES_UPPERCASE | ES_AUTOHSCROLL | 
					  ES_OEMCONVERT
	DEFPUSHBUTTON	"&Continue",IDC_CONTINUE,15,80,50,14
	PUSHBUTTON		"E&xit",IDC_EXIT,75,80,50,14
	PUSHBUTTON		"&Help",IDC_HELP,135,80,50,14
	ICON			IDC_SETUP, IDC_SETUP, 14, 10, 18, 20
END


UPDATEERRORDLGBOX DIALOG PRELOAD 49, 38, 200, 85
STYLE DS_MODALFRAME | WS_POPUP | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU
CAPTION "Update"
FONT 8, "Helv"
BEGIN
	DEFPUSHBUTTON	"&Continue",IDC_CONTINUE,15,65,50,14
	PUSHBUTTON		"E&xit",IDC_EXIT,75,65,50,14
	PUSHBUTTON		"&Back",IDC_BACK,135,65,50,14
	LTEXT			"Setup cannot confirm that you have a previous license for a Qualitas Memory Management product. If you continue, Setup cannot guarantee that all features of this upgrade version will operate properly. Would you like to continue?",
			100, 40, 8, 150, 50, SS_NOPREFIX
	ICON			IDC_SETUP, IDC_SETUP, 14, 10, 18, 20
END


MODELESSDLGBOX DIALOG PRELOAD 20, 20, 180, 35
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE
FONT 8, "Helv"
BEGIN
	CTEXT			"", 100, 10, 10, 160, 20
END

