// $Header:   P:/PVCS/MAX/SETUP32/SETUP16.RCV   1.0   16 Sep 1996 09:09:30   PETERJ  $
// ------------------------------------------------------
// Copyright (C) 1996 Qualitas, Inc.  GNU General Public License version 3
// ------------------------------------------------------
// Dummy .rc for setup16.dll
//-------------------------------------------------------
