//////////////////////////////////////////////////////////////////////////////
//
// Version
//

#include <ver.h>					// Version resource definitions from DDK
#include "VERSION.RC"

#define VER_FILETYPE				VFT_APP
#define VER_FILESUBTYPE 			VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR 		"Go Ahead Application"
#define VER_INTERNALNAME_STR			"GOAHEAD"
#define VER_ORIGINALFILENAME_STR		"GOAHEAD.EXE"
#define VER_PRODUCTNAME 			"Go Ahead"

#include <mversion.h>
#include <common.ver>

